.wrapper {
    background: linear-gradient(to left, #122230 0%, rgb(9, 17, 24) 100%);
}
.wrapper-content {
    border-radius: 1.2rem;
}
.wrapper-content-left {
    padding: 12rem 3rem;
    min-width: 425px;
}
.wrapper-content-right {
    padding: 0 3rem;
    width: 768px;
    background: linear-gradient(to right, #122230 0%, rgb(9, 17, 24) 100%);
    color: #fff;
}
.wrapper-content-right-block {
    max-width: 320px;
}
.wrapper-divider {
    width: 1px; height: 100%;
}
.wrapper-logo {
    width: 64px;
}
.wrapper-button {
    background-color: #192d3e;
    border-color: #192d3e;
}
.wrapper-button:hover,
.wrapper-button:focus,
.wrapper-button:active {
    background-color: #192d3e !important;
    border-color: #192d3e !important;
}
.wrapper-content-right h1 {
    font-size: 3rem; line-height: 1.25;
}
.wrapper-content-right h3 {
    margin-top: 3.2rem; line-height: 1.75; font-size: 1rem;
}
input[type=checkbox],
label.checkbox-label {
    cursor: pointer;
}
.copyright {
    font-size: .8rem;
}
@media (max-width: 600px) {
    .wrapper {
        padding: 0 !important;
    }
    .wrapper-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .wrapper-content-left {
        padding: 1rem;
        max-width: inherit;
        min-width: inherit;
        width: 100%;
    }
}
@media (max-height: 768px) {
    .wrapper-content-left {
        padding: 6.4rem 3rem !important;
    }
}
@media (max-height: 425px) {
    .wrapper {
        overflow: auto !important;
        height: auto !important;
    }
}